body {
    margin: 0;
}
.bigbox {
    width: 100%;
    height: 700px ;
    background white;
    display: flex;
    justify-content: center;
}
.greybox {
    width: 600px;
    height: 400px;
    background: #d7d6d6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.darkbox {
    width: 100%;
    height: 200px;
    background: #090953;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    position: relative;
}
.violetbox {
    width: 100px;
    height: 100px;
    background: #5800c4;
    border-radius: 15px;
    justify-content: flex-end;
    position: relative;
    top: 100px;
}